* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-image: url("../img/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Noto Serif', serif;
}

.header-container {
    margin: 0px 60px 0 60px;
    display: flex;
}


.logo-container__img {
    margin-top: 16px;
    width: 160px;
}

.navbar {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navbar__list-item {
    margin-left: 20px;
    font-size: 1.6rem;
    font-weight: bold;
    color: antiquewhite;
    cursor: pointer;
}


.dots {
    position: relative;
    bottom: 12px;
    font-size: 2.5rem;
}
.overflow__menu {
    display: none;
    position: absolute;
    list-style: none;
    background-color: antiquewhite;
    color: black;
    border-radius: 4px;
}

.overflow__menu-list {
    padding: 12px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.navbar__list-item:hover  ul {
    display: block;
}

.user-icon {
    position: relative;
    margin-left: 12px;
    bottom: 4px;
    width: 32px;
    height: 32px;
}

.apps-icon{
    margin-left: 30px;
    width: 24px;
    height: 24px;
}
/* ****Search Section*** */

.main-container {
    width: 100%;
    height: 90vh;
    display: grid;
    place-content: center;
}

.form-container {
    position: relative;
    width: 480px;
    height: 44px;
}
.search-container__input {
    width: 480px;
    height: 44px;
    border-radius: 20px;
    border: none;
    padding-left: 12px;
    outline: none;
}

.search-container__input:hover {
    box-shadow: 2px 2px 5px grey;
    text-shadow: 1px 1px 1px rgb(192, 192, 192);
}

.img-search__container {
    display: flex;
    position: absolute;
    left: 380px;
    top: 50%;
    transform: translateY(-50%);
}

.img-search__container img {
    margin-right: 12px;
    width: 20px;
    height: 20px;
}